.c-gallery {
  &__figure {
    margin: 16px 0;
    text-align: center;
    cursor: pointer;
    text-align: center;
  }

  &__img {
    border: 8px solid var(--color-primary);
    width: 80%;
    object-fit: cover;
    border-radius: 500px;
    &:hover {
      color: white;
    }
  }

  &__text {
    font-size: 36px;
    font-family: var(--font-family-base);
    color: var(--color-primary);
    text-transform: lowercase;
    text-align: center;
    height: 3rem;
  }
}

.buttonFavorites {
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  border: none;
}

.buttonFavorites:hover {
  background-color: rgb(38, 133, 211);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
}
