nav {
  display: flex;
}
nav li {
  margin: 20px;
  list-style: none;
  text-transform: uppercase;
}

nav li a {
  text-decoration: none;
  font-family: var(--font-family-base);
  color: var(--color-primary);
  font-size: 80px;
}

nav li a:hover {
  color: rgb(36, 156, 192);
}

@media only screen and (max-device-width: 600px) {
  nav {
    width: 100%;
  }
  nav li a {
    text-decoration: none;
    font-family: var(--font-family-base);
    color: var(--color-primary);
    font-size: 18px;
  }
  .favoritesMenu {
    display: none;
  }
}
